@{
    ViewBag.Title = "CaricaInclusioni";
}

<div class="u-layout-wide u-layoutCenter u-text-r-xl u-layout-r-withGutter u-padding-r-top">
    <section class="u-layout-wide">
        <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-md-size3of3 u-lg-size3of3">
                <div class="Grid">
                    <div class="Grid-cell u-sizeFull u-md-size1of1 u-lg-size1of1 u-text-r-s">
                        <h2 class=" u-text-h3 u-color-grey-50">Carica tracciato inclusioni
                    </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!--form di ricerca-->

<div class="Form Form--spaced u-layout-r-withGutter u-padding-top-l u-text-r-xs">
    <fieldset class="Form-fieldset">
        <legend class="Form-legend">Carica tracciato inclusioni</legend>
    </fieldset>
    <div class="Form-field Grid-cell">


        @using (Html.BeginForm ("CaricaInclusioni",  
                        "GestioneAnagrafica",  
                        FormMethod.Post,  
                        new { enctype = "multipart/form-data" }))  
{                    
    <input type="file" name="file"/><br><br>  
    <input type="submit" value="Carica" class="Button Button--default Button--shadow u-text-m"/>  
    <br><br>  
    @ViewBag.Message  
}

    </div>
</div>
