@model MvcWebApp.Models.SoggImportAppoggioSearchResults
@{
    ViewBag.Title = "Anagrafiche in lavorazione";
    Session["ente"] = Model.selectedId;
    Session["page"] = Request.QueryString["page"] != null ? Request.QueryString["page"].ToString() : "0";
}


<div class="u-layout-wide u-layoutCenter u-text-r-xl u-layout-r-withGutter u-padding-r-top">
    <section class="u-layout-wide">

        <div class="Grid Grid--withGutter">

            <div class="Grid-cell u-md-size3of3 u-lg-size3of3">

                <div class="Grid">

                    <div class="Grid-cell u-sizeFull u-md-size1of1 u-lg-size1of1 u-text-r-s">
                        <h2 class=" u-text-h3 u-color-grey-50">Anagrafiche in lavorazione
                        </h2>

                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<!--form di ricerca-->

@using (Ajax.BeginForm("RisultatiSoggettiImportati", "GestioneAnagrafica", new AjaxOptions
  {
      UpdateTargetId = "risultati",
      InsertionMode = InsertionMode.Replace,
      HttpMethod = "POST"

  }))
{
    <div class="Form Form--spaced u-layout-r-withGutter u-padding-top-l u-text-r-xs">
        <fieldset class="Form-fieldset">
            <legend class="Form-legend">Cerca</legend>

            <section class="Grid Grid--withGutter">
                <div class="Grid-cell u-md-size1of2 u-lg-size1of2">
                    <div class="Form-field">
                        <label class="Form-label is-required" for="provincia">Ente</label>
                        @Html.DropDownListFor(m => m.selectedId, Model.ListItemEnti, new { @class = "Form-input u-text-r-s u-borderRadius-m" })
                    </div>

                </div>

            </section>

        </fieldset>

        <div class="Form-field Grid-cell u-textRight">
            <input type="submit" class="Button Button--default Button--shadow u-text-m" value="CERCA" />
        </div>
    </div>
    
    <div id="risultati">
        @*@{ Model.SearchResults.Selected = Request.QueryString["en"];}*@
        @if (string.IsNullOrEmpty(Request.QueryString["en"]))
        {
            var m = new MvcWebApp.Models.SoggImportAppoggioSearchResults();
            m.Results = Model.Results;
            m.CountResults = Model.CountResults;
            m.selectedId = Model.selectedId;
            Html.RenderAction("RisultatiSoggettiImportati", "GestioneAnagrafica", new { modello = m });
        }
        else
        {
            var m = new MvcWebApp.Models.SoggImportAppoggioSearchResults {selectedId = Request.QueryString["en"] };
            m.Results = Model.Results;
            m.CountResults = Model.CountResults;
            m.NumPage = Model.NumPage;//Request.QueryString["page"] != null? Request.QueryString["page"].ToString() : "0";
            Html.RenderAction("RisultatiSoggettiImportati", "GestioneAnagrafica", new { modello = m });
        }
    </div>
}

