@model IEnumerable<Asdep.Common.DAO.SoggettiImportAppoggioDao>
<!--inizio risultati trovati-->
@{
    var numPage = ViewBag.Page != null ? ViewBag.Page : "0";
    }

<link type="text/css" rel="stylesheet" href="~/Content/DataTable/template-editor.css" />

<style>
    table.dataTable tbody th, table.dataTable tbody td {
        padding: 1em;
    }

    table.dataTable, table.dataTable th, table.dataTable td {
        box-sizing: initial;
    }

        table.dataTable.no-footer {
            border-bottom: none;
        }
</style>

<div class="u-layout-r-withGutter">
    <div class="Prose Alert Alert--info u-padding-r-right u-padding-r-left" role="alert">

        <p class="u-text-p">
            Risultati trovati: 
            <strong>@Model.Count() </strong>
        </p>
    </div>
</div>

@*@using (Ajax.BeginForm("ValidaSoggettiImportati", "GestioneAnagrafica", new AjaxOptions
  {
      UpdateTargetId = "risultati",
      InsertionMode = InsertionMode.Replace,
      HttpMethod = "POST"

  }))
{ *@
    @if (Model.Count() != 0)
    {
   
<div class="Form-field Grid-cell u-textRight">
    @Ajax.ActionLink("Valida","ValidaSoggettiImportati","GestioneAnagrafica",null, new AjaxOptions { UpdateTargetId = "risultati", HttpMethod = "POST" }, new { @class = "Button Button--default Button--shadow u-text-m" })
        @*<input type="submit" class="Button Button--default Button--shadow u-text-m" value="Valida" />*@
    </div>
    <!--fine risultati trovati-->    

    <!--inizio tabella risultati-->
     
    <div class="u-layout-r-withGutter u-padding-bottom-l u-margin-bottom-l u-margin-top-l">


        <table id="example" class="Table Table--striped Table--hover Table--withBorder">
            <thead>
                <tr class="u-border-bottom-xs">
                    <th scope="col" class="u-textLeft"></th>
                    <th scope="col" class="u-textLeft"></th>
                    <th scope="col" class="u-textLeft"></th>
                    <th scope="col" class="u-textLeft">Nome</th>
                    <th scope="col" class="u-textLeft">Categoria</th>
                    <th scope="col" class="u-textLeft">Numero Polizza</th>
                    <th scope="col" class="u-textLeft">Codice Fiscale Assicurato</th>
                    <th scope="col" class="u-textLeft">Codice Fiscale CapoNucleo</th>
                </tr>
            </thead>
        </table>

    </div>
    
    
    }
   

<script>tableCreate(); changePage(@numPage);</script>
