@model  IEnumerable<MvcWebApp.Models.AdesioneModel>


<div class="tablescroll">

    <div class="u-layout-r-withGutter u-padding-bottom-l u-margin-bottom-l u-margin-top-l">

        <table id="adesioniTable" class="Table Table--striped Table--hover Table--withBorder">
            <caption class="u-hiddenVisually">tempora voluptates delectus</caption>
            <thead>
                <tr class="">
                    <th scope="col" class="u-textLeft"></th>
                    <th scope="col" class="u-textLeft">Assicurato</th>
                    <th scope="col" class="u-textLeft">Codice fiscale</th>
                    <th scope="col" class="u-textLeft">Categoria</th>
                    <th scope="col" class="u-textLeft">Polizza</th>
                    <th scope="col" class="u-textLeft">Età</th>
                    <th scope="col" class="u-textLeft">Adesione</th>
                    <th scope="col" class="u-textLeft">Email</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    tableAdesioni();
</script>
